<!-- Archdioceses' List -->
<style>
  .filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;

}
</style>
        <div class="panel panel-primary filterable">
<table class="ui inverted blue table" st-safe-src="rowCollection" st-table="displayedCollection">
  <thead>
    <tr class="ui form filters" colspan="2">
       <th id="dms"><input type="text" st-search="'id'" class="form-control th" placeholder="id" disabled ></th>
       <th id="dms"><input type="text" st-search="'name'" class="form-control th" placeholder="Name" disabled ></th>
       <th id="dms" width="100">
    <button class="ui icon button btn-filter">
  <i class="search icon"></i>
    </button>
  </tr></thead><tbody>
    <tr ng-repeat="row in displayedCollection"  st-select-row="row">
                  <td>{{row.id}}</td>
                  <td>{{row.name}}</td>
                
            
                                    <td width="100">
       <div class="ui buttons">
       <div data-content="Edit Archdiocese Row">
              <button class="ui button" ng-click="getArchdiocese(row)">Edit</button>
       </div>
              <div class="or"></div>
       <div data-content="Delete Archdiocese Row">
              <button class="ui negative button" ng-click="">Delete</button>
       </div>
      </div>
    </tr>
    <tr>
<th colspan="1">{{records}} Records</th>
      <th colspan="2" style="cursor: pointer;">
        <div st-pagination="" st-items-by-page="recordsPerPage" st-displayed-pages="pages">
        </div>
    </tr>
  </tbody>
</table>
</div>
<script>
$(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });
});
</script>