<!-- Deanery Index -->
<nav class="ui inverted blue menu">
  <div href="" ui-sref="location.deaneries" class="item">
    <b>
      <i class="icon building"></i>
      Deanery
    </b>
  </div>
  <a is-active-nav class="item" ui-sref="location.deaneries.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
  <a is-active-nav class="item" ui-sref="location.deaneries.list"><i class="icon fa fa-list"></i>List Deaneries</a>
  <a is-active-nav class="item" ui-sref="location.deaneries.add"><i class="icon fa fa-plus"></i>Register Deaneries</a>
</nav>
<div ui-view></div>
