<!-- Members Index -->
<nav class="ui inverted blue menu">
  <div href="" ui-sref="location.members" class="item">
    <b>
      <i class="icon ion-ios-people"></i>
      Member
    </b>
  </div>
  <a is-active-nav class="item" ui-sref="location.members.statistics"><i class="icon ion-arrow-graph-up-right"></i>Statistics</a>
  <a is-active-nav class="item" ui-sref="location.members.list"><i class="icon fa fa-list"></i>List Members</a>
  <a is-active-nav class="item" ui-sref="location.members.add"><i class="icon fa fa-plus"></i>Register Member</a>
</nav>
<div ui-view></div>
