  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/components/transition.css">

  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  #main {
    margin-top: 40px;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>

</head>
<body>

  <div class="ui fixed blue inverted  menu">
    <div class="ui container">
      <div href="#" class="header item">
        <!--<img class="logo" src="">-->
        Diocese Management System
      </div>
      <a ui-sref="/" class="item">Home</a>
      <a ui-sref="login" class="item">Log In</a>
      <a ui-sref="register" class="item">Sign Up</a>
    </div>
  </div>

<leaflet id="main" layers="layers" markers="markers" center="nairobi" height="580px" width="1353px"></leaflet>

  <div class="ui inverted vertical footer segment" style="backgroud-color: #743232;">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Lorem ipsum</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Ipsum Adipisicing </h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Incididunt veli</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Lorem ipsum Ea nostrud Ut.</h4>
          <p>Lorem ipsum Esse in dolore do irure enim anim reprehenderit sed veniam occaecat occaecat est quis.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" ui-sref="login">C Panel</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>

